button {
    border: none;
	border-radius: 5px;
	height: 28px;
    margin: 5px;
}

button:hover {
    border: none;
	background: #8d8b8b;
	color: #fff;
	border-radius: 5px;
	transition: all 250ms ease;
}
