.snack-detail-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.snack-detail-img-container {
	max-width: 500px;
    height: 400px;
}

.snack-detail-img {
	width: 100%;
    height: 100%;
	/* object-fit: fit; */
	border-radius: 60px;
}

.snack-detail-text-div {
	display: flex;
	flex-direction: column;
	align-items: center;
    margin-top: 20px;
    width: 500px;

}

.snack-detail-h2 {
	font-size: 25px;
	color: black;
}
.snack-detail-p-desc{
    margin-top: 5px;
}

.your-snack-p {
	margin-top: 5px;
}

.link-to-my-snacks{
	color: #5EBEC4;
}
.link-to-my-snacks:hover{
	color: #F92C85;
}

.home-link {
	text-decoration: none;
	color: black;
	margin-top: 20px;
}

.home-link:hover {
	color: #F92C85;
}
