.delete-button-modal {
    padding: 15px;
}

.delete-buttons-div > button{
    border: none;
    border-radius: 5px;
    width: 65px;
    margin: 5px;
    padding: 10px;
}

.delete-button-yes {
    background-color: grey;
}

.delete-button-cancel {
    background-color: rgb(226, 65, 65);
}

.delete-buttons-div > button:hover {
    border: none;
	color: #fff;
	border-radius: 5px;
	transition: all 100ms ;
}
.delete-buttons-div {
    display: flex;
    justify-content: center;
}
