body {
	margin: 0px;
	padding: 0px;
}

/* .navbar {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.17);
    position: sticky;
    width: 100%;
    top: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    align-items: center;
    background-color: white;
} */

.navbar {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	justify-items: center;
	align-items: center;
	background-color: white;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	height: 100px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.17);
	position: sticky;
    top: 0;
}

li {
	list-style-type: none;
}

a.navbar-links {
    text-decoration: none;
    color: black;
}

div.navbar-links {
	padding: 20px;
	justify-content: start;
	grid-column: 2;
	display: grid;
	grid-auto-flow: column;
	column-gap: 5rem;
	justify-items: center;
	align-items: center;
}

li.navbar-links {
	display: grid;
	grid-auto-flow: column;
	column-gap: 2rem;
	justify-items: center;
	align-items: center;
}

.navbar-links:hover {
	color: #f92c85;
}
/* 
.navbar-links > button:hover {
	border: none;
	background: #8d8b8b;
	color: #fff;
	border-radius: 5px;
	transition: all 250ms ease;
} */

.logo {
    grid-template-columns: 1fr 1fr;
	width: 90px;
	margin-left: -100px;
}

.about-button {
	border: none;
	background-color: transparent;
	border-radius: 5px;
	color: black;
	font-size: 15px;
}

.about-button:hover {
	color: #f92c85;
	cursor: pointer;
}

.about-dropdown {
	background-color: #fdf5df70;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100px;
	padding: 10px;
	text-align: center;
	width: 200px;
	border-radius: 5px;
}
