body {
  margin: 0px;
  padding: 0px;
}

.navbar {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.17);
    position: sticky;
    height: 125px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding: 0px;
    align-items: center;
}

li {
    list-style-type: none;
}

.navbar-links {
    text-decoration: none;
    padding: 20px;
}

.navbar-links * {
    margin: 10px;
}

.logo {
    margin-left: 20px;
}


